body {

    width: 90%;
    margin: 0 auto;
    background-color: #EFEBE9;
}

/*include the padding and the border in an element;s total width and height */
* {
    box-sizing: border-box;
}

header{
    text-align: center;
}

ul {
    margin: 0 20px ;
    padding: 10px 10px 30px 30px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: gray;
    background-color: rgba(128, 128, 128, 0.4);
    
}

.modal-content {
    background-color: rgb(154, 154, 154);
    margin: auto;
    padding: 20px;
    border: 1px solid #4D4B48;
    border-radius: 5px;
    width: 80%;
}

.close {
    color: rgb(188, 188, 194);
    border-radius: 5px;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h2{
    padding: 40px 10px 10px 10px ;
    font-size: 35px;
    color:#4D4B48;
}

#list {
    margin-top: 32px;
}

li {
    margin: 0ps 20px;
    padding: 12px;
    border-bottom: 1px solid #4D4B48;
}

button{
    border-radius: 5px;
    margin: 3px;
    background-color: #D6D3CE;
    color: #3D3B37;
}

.spanButtons{
    float:right;
}

span{
    color: #4D4B48;
}

input{
    margin: 0px 20px;
    padding: 3px;
    border-radius: 4px;
}

.saveBtn {
    border: 1px solid #4D4B48;
    border-radius: 5px;
    display: inline-block;
    padding: 2%;
    cursor: pointer;
}

.cancelBtn {
    border: 1px solid #4D4B48;
    border-radius: 5px;
    display: inline-block;
    padding: 2%;
    cursor: pointer;
}

.loader-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    z-index: 9999;
    pointer-events: none;
    display: none;
}

.loader-box--show {
    display: flex;
    border: 1px solid #4D4B48;
    border-radius: 5px;
}

.loader {
    color: red;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    transform: translateZ(0);
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}